.clearfix {
    clear: both;
}

.vkappext-similar-btn {
    background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9.5%2010.9C8.5%2011.6%207.3%2012%206%2012C2.7%2012%200%209.3%200%206C0%202.7%202.7%200%206%200C9.3%200%2012%202.7%2012%206C12%207.3%2011.6%208.5%2010.9%209.5L13.7%2012.2C14%2012.6%2014.1%2013.3%2013.7%2013.7C13.3%2014%2012.6%2014%2012.2%2013.7L9.5%2010.9ZM6%2010C8.2%2010%2010%208.2%2010%206C10%203.8%208.2%202%206%202C3.8%202%202%203.8%202%206C2%208.2%203.8%2010%206%2010Z%22%20fill%3D%22%239299A6%22%2F%3E%3Cpath%20d%3D%22M7.57898%207.99927C8.52612%207.99927%209%207.6203%209%206.86165C9%206.24079%208.69939%205.84644%208.09755%205.67785L7.64633%205.56276C7.39653%205.4858%207.27163%205.32527%207.27163%205.07971C7.27163%204.79604%207.42837%204.65457%207.74184%204.65457C8.08714%204.65457%208.26959%204.81583%208.28918%205.13762L8.98041%205.046C8.93571%204.34891%208.53898%204%207.7902%204C6.98388%204%206.58041%204.39875%206.58041%205.19553C6.58041%205.76287%206.84306%206.12278%207.36776%206.27598L7.83796%206.37933C8.15816%206.47095%208.31796%206.64394%208.31796%206.89683C8.31796%207.1959%208.07184%207.34543%207.57898%207.34543C6.97714%207.34543%206.58041%206.99652%206.38878%206.29943L6.15857%205.47187C6.01776%204.92798%205.83837%204.54462%205.62102%204.32252C5.41592%204.10775%205.08041%204.00073%204.61327%204.00073C4.18469%204.00073%203.81%204.18838%203.4898%204.56368C3.16347%204.93898%203%205.44108%203%206.06927C3%206.65934%203.15367%207.12699%203.46102%207.4715C3.76163%207.82408%204.12959%208%204.5649%208C4.98735%208%205.32653%207.87759%205.58245%207.63203L5.37122%206.91955C5.14714%207.18783%204.88816%207.32197%204.59367%207.32197C4.3249%207.32197%204.10265%207.19736%203.92633%206.94814C3.75061%206.69892%203.66245%206.39839%203.66245%206.04581C3.66245%205.57083%203.76163%205.22631%203.96%205.01154C4.1651%204.78944%204.38857%204.67803%204.63225%204.67803C4.90102%204.67803%205.09633%204.76232%205.21755%204.93091C5.32653%205.09951%205.43184%205.36778%205.53408%205.73575L5.7551%206.55159C6.0049%207.51695%206.61286%207.99927%207.57898%207.99927Z%22%20fill%3D%22%239299A6%22%2F%3E%3C%2Fsvg%3E) no-repeat 50%;
    display: inline;
}

.vkappext-backdrop {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#vkappext-result-dialog {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 30%;
    left: 35.4%;
    width: 530px;
    padding: 15px;
    background-color: white;
    border-radius: 3px;
}

.vkappext-result-dialog__info {
    padding: 0 10px;
}

.vkappext-result-dialog__more-btn {
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.vkappext-result-dialog__more-btn:hover {
    background-color: #f0f2f5;
}

.vkappext-result-dialog__more-btn > a:hover {
    text-decoration: none;
}

.vkappext-result-dialog__more-btn > a:before {
    content: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2018%2018%22%20style%3D%22enable-background%3Anew%200%200%2018%2018%3B%22%20xml%3Aspace%3D%22preserve%22%20width%3D%2218px%22%20height%3D%2218px%22%3E%3Cg%3E%3Cpath%20d%3D%22M12.083%2C1.887c-0.795-0.794-1.73-1.359-2.727-1.697v2.135c0.48%2C0.239%2C0.935%2C0.55%2C1.334%2C0.95%20%20%20c1.993%2C1.994%2C1.993%2C5.236%2C0%2C7.229c-1.993%2C1.99-5.233%2C1.99-7.229%2C0c-1.991-1.995-1.991-5.235%2C0-7.229%20%20%20C3.466%2C3.269%2C3.482%2C3.259%2C3.489%2C3.25h0.002l1.181%2C1.179L4.665%2C0.685L0.923%2C0.68l1.176%2C1.176C2.092%2C1.868%2C2.081%2C1.88%2C2.072%2C1.887%20%20%20c-2.763%2C2.762-2.763%2C7.243%2C0%2C10.005c2.767%2C2.765%2C7.245%2C2.765%2C10.011%2C0C14.844%2C9.13%2C14.847%2C4.649%2C12.083%2C1.887z%22%20fill%3D%22%236385b0%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    display: inline;
    position: absolute;
    right: 275px;
}

.vkappext-result-dialog__actions {
    width: 60px;
    height: 50px;
    opacity: 0.5;
    position: absolute;
    right: -60px;
    cursor: pointer;
}

.vkappext-result-dialog__actions:hover {
    opacity: 1;
}

.vkappext-close-btn {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2236%22%20height%3D%2236%22%20viewBox%3D%22940%20104%2036%2036%22%3E%3Cg%20style%3D%22fill%3Anone%3B%22%3E%3Crect%20x%3D%22940%22%20y%3D%22104%22%20width%3D%2236%22%20height%3D%2236%22%2F%3E%3Cg%20fill%3D%22%23FFF%22%3E%3Cpath%20d%3D%22M968.1%20129.9L950.1%20111.9C949.5%20111.4%20948.5%20111.4%20947.9%20111.9%20947.4%20112.5%20947.4%20113.5%20947.9%20114.1L965.9%20132.1C966.5%20132.6%20967.5%20132.6%20968.1%20132.1%20968.6%20131.5%20968.6%20130.5%20968.1%20129.9Z%22%2F%3E%3Cpath%20d%3D%22M950.1%20132.1L968.1%20114.1C968.6%20113.5%20968.6%20112.5%20968.1%20111.9%20967.5%20111.4%20966.5%20111.4%20965.9%20111.9L947.9%20129.9C947.4%20130.5%20947.4%20131.5%20947.9%20132.1%20948.5%20132.6%20949.5%20132.6%20950.1%20132.1Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat 50%;
    top: 0;
}

.vkappext-minimize-btn {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2236%22%20height%3D%2236%22%20viewBox%3D%220%200%2036%2036%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0)%22%3E%3Cpath%20d%3D%22M6.0796%2025.2444L29.1178%2025.3331C29.8215%2025.2749%2030.4589%2024.6681%2030.52%2023.9982C30.4532%2023.3277%2029.8107%2022.716%2029.1065%2022.6524L6.06825%2022.5637C5.36456%2022.6219%204.72719%2023.2287%204.66605%2023.8986C4.73289%2024.569%205.3754%2025.1807%206.0796%2025.2444Z%22%20fill%3D%22white%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0%22%3E%3Crect%20width%3D%2236%22%20height%3D%2236%22%20fill%3D%22white%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E") no-repeat 50%;
    top: 40px;
}

.vkappext-result-min {
    display: none;
    position: fixed;
    right: 1%;
    top: 30%;
    max-width: 300px;
    height: 65px;
    border-radius: 3px;
    background: #e9edf1;
    border: 1px solid #e6edf5;
    box-shadow: 0 0 5px 0 #597da3;
}

.vkappext-result-min__info {
    padding: 0 10px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vkappext-result-min__actions {
    width: 12px;
    height: 12px;
    margin-left: 2px;
    cursor: pointer;
    display: inline-block;
}

.vkappext-result-min__close {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2236%22%20height%3D%2236%22%20viewBox%3D%22940%20104%2036%2036%22%3E%3Cg%20style%3D%22fill%3Anone%3B%22%3E%3Crect%20x%3D%22940%22%20y%3D%22104%22%20width%3D%2236%22%20height%3D%2236%22%2F%3E%3Cg%20fill%3D%22%239aa1ad%22%3E%3Cpath%20d%3D%22M968.1%20129.9L950.1%20111.9C949.5%20111.4%20948.5%20111.4%20947.9%20111.9%20947.4%20112.5%20947.4%20113.5%20947.9%20114.1L965.9%20132.1C966.5%20132.6%20967.5%20132.6%20968.1%20132.1%20968.6%20131.5%20968.6%20130.5%20968.1%20129.9Z%22%2F%3E%3Cpath%20d%3D%22M950.1%20132.1L968.1%20114.1C968.6%20113.5%20968.6%20112.5%20968.1%20111.9%20967.5%20111.4%20966.5%20111.4%20965.9%20111.9L947.9%20129.9C947.4%20130.5%20947.4%20131.5%20947.9%20132.1%20948.5%20132.6%20949.5%20132.6%20950.1%20132.1Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat 50%;
}

.vkappext-not-found {
    text-align: center;
    height: 10em;
    line-height: 10em;
}

.vkappext-loader {
    margin-left: 222px;
}

/* https://loading.io/css/ */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #2a5885;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
